<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="sidebar">

    <div class="sidebar-logo">
        <h2>GestorPro</h2>
        <span>Sistema empresarial</span>
    </div>

    <div class="sidebar-menu">

        <a href="/dashboard">Dashboard</a>
        <a href="/clientes">Clientes</a>
        <a href="/ordens">Ordens</a>
        <a href="/financeiro">Financeiro</a>

        <% if(usuario.tipo === 'admin'){ %>
            <a href="/usuarios">Usuários</a>
        <% } %>

    </div>

    <div class="sidebar-user">
        <p><%= usuario.email %></p>
        <a href="/logout">Sair</a>
    </div>

</div>

    <div class="content">

        <h1>Painel Principal</h1>

        <div class="cards">

            <div class="card">
                <h2><%= abertas %></h2>
                <p>Ordens abertas</p>
            </div>

            <div class="card">
                <h2><%= finalizadas %></h2>
                <p>Serviços finalizados</p>
            </div>

            <div class="card">
                <h2>R$ <%= total%></h2>
                <p>Recebido hoje</p>
            </div>
            
          <div class="card">

               <h2><%= clientes %></h2>

               <p>Clientes cadastrados</p>

          </div>

        </div>

    </div>

</body>
</html>